<h1>現在のTodoリスト</h1>
<div class = "link">
  <% @tasks.each do |task| %>
    <p>
      <%= link_to(task.task, task_path(task)) %>
      <%= link_to '', task_path(task), { method: :delete, data: { confirm: 'タスクを完了しますか？' }, class: "checkmark003" }%>
      <%= link_to '',  real_destroy_task_path(task), { method: :delete, data: { confirm: 'タスクを削除しますか？' }, class: "closemark" }%>
    </p>
  <% end %>
</div>

<div class = "show" >
  <%= link_to 'カレンダーへ', month_path %>
  <%= link_to '完了済みタスク', complete_tasks_path %>
 </div>
