<p id="notice"><%= notice %></p>

<div class = "show" >
  予定のタイトル
</div>
<div class = "data" >
  <%= @task.task %>
</div>
<div class = "show" >
  予定締め切り
</div>
<div class = "data" >
  <%= @task.limit_date.strftime("%-m月%-d日 %-H時%-M分") %>
</div>
<br>

<div class = "show" >
  <%= link_to '編集', edit_task_path(@task) %>
  <%= link_to 'Todo一覧', tasks_path %>
  <%= link_to '削除', task_path(@task), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</div>
