<p id="notice"><%= notice %></p>

<div class = "show" > 予定のタイトル </div>
<div class = "data" > <%= @task.task %> </div>
<div class = "show" > 予定締め切り </div>
<div class = "data" > <%= @task.limit_date %> </div>
<br>

<div class = "show" > <%= link_to 'Edit', edit_task_path(@task) %> </div>
<div class = "show" > <%= link_to 'Back', tasks_path %> </div>
