<div class = "header">
  <div class = "logo"> <%= link_to 'Time is Mine', top_path, :style => "color: #fff;" %> </div>
  <div class = "list">
    <%= link_to '時間割', about_path, :style => "color: #fff;" %>
    <%= link_to '予定帳', month_path, :style => "color: #fff;" %>
   </div>
</div>

<form method = "get" action = "">
  <table border = "1" >
    <tr>
      <th>時間/曜日</th><th> <%= link_to '月曜日', day1_path, :style => "color:#000;" %> </th><th> <%= link_to '火曜日', day2_path, :style => "color:#000;" %> </th><th> <%= link_to '水曜日', day3_path, :style => "color:#000;" %> </th><th> <%= link_to '木曜日', day4_path, :style => "color:#000;" %></th><th> <%= link_to '金曜日', day5_path, :style => "color:#000;" %></th><th> <%= link_to '土曜日', day6_path, :style => "color:#000;" %></th>
    </tr>
    <tr>
      <td>9:00-10:30</td>
      <td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <td>10:40-12:10</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <td>13:00-14:30</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <td>14:40-16:10</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <td>16:20-17:50</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <td>18:00-19:30</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
  </table>
</form>
