<div class = "header">
  <div class = "logo">
    <%= link_to 'Time is Mine', top_path, :style => "color: #fff;" %>
  </div>
  <div class = "list">
    <%= link_to '予定帳', month_path, :style => "color: #fff;" %>
    <%= link_to '予定作成', new_event_path, :style => "color: #fff;" %>
    <%= link_to '予定確認', events_path, :style => "color: #fff;" %>
    <%= link_to 'Todoリスト', tasks_path, :style => "color: #fff;" %>
    <%= link_to 'Todo登録', new_task_path, :style => "color: #fff;" %>
   </div>
</div>

<div id="calendar"></div>
