<p id="notice"><%= notice %></p>

<div class = "show" > 予定のタイトル </div>
<div class = "data" > <%= @event.title %> </div>
<div class = "show" > 背景色 </div>
<div class = "data" > <%= @event.backgroundColor %> </div>
<div class = "show" > 予定開始時間 </div>
<div class = "data" > <%= @event.start %> </div>
<div class = "show" > 予定終了時間 </div>
<div class = "data" > <%= @event.end %> </div>
<br>

<div class = "show" > <%= link_to 'Edit', edit_event_path(@event) %> </div>
<div class = "show" > <%= link_to 'Back', month_path %> </div>
